[user]
  name = 839
  email = 8398a7@gmail.com
[core]
  editor = nvim
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true    # n/N で diff セクション間を移動
  plus-color = "#012800"
  minus-color = "#340001"
  line-numbers = true
  syntax-theme = "Monokai Extended"
[merge]
  conflictStyle = zdiff3
[i18n]
  commitencoding = utf-8
[color]
  ui = true
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[color "diff"]
  old = 167 normal
  new = 030 normal
  context = 240
[alias]
  d  = diff
  dc = diff --cached
  st = status
  ch = checkout
  br = branch
  ad = add -A
  coa = commit -S --amend
  reco = rebase --continue
  cm = commit -S -m
  po = push origin
  fe = fetch --prune
  hard = reset --hard
  soft = reset --soft
  remotes = remote -v
  unstage = restore --staged --
  amend = commit --amend
  ignores = ls-files --full-name -ci --exclude-standard
  nevermind = !git reset --hard HEAD && git clean -d -f
  delete-merged-branches = "!f() { \"${XDG_CONFIG_HOME:-$HOME/.config}/git/bin/delete-merged-branches\"; }; f"
  today = !sh -c 'git log --reverse --no-merges --branches=* --date=local --since=midnight --oneline --author=\"`git config --get user.name`\"'
[push]
  default = simple
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[diff]
  algorithm = histogram
[gpg]
  format = ssh
[user]
  signingkey = ~/.ssh/id_ed25519.pub
[diff "sopsdiffer"]
  textconv = sops -d
[pull]
  rebase = false
[credential "https://github.com"]
  helper = !gh auth git-credential
[credential "https://gist.github.com"]
  helper = !gh auth git-credential
