"*":
  "atom-material-ui":
    fonts:
      fontSize: 12
    tabs: {}
    treeView:
      compactList: true
    ui:
      panelContrast: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "japanese-wrap"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax-dark"
    ]
  editor:
    invisibles: {}
    softWrap: true
  "exception-reporting":
    userId: "73458d85-4cdc-5577-5847-7005986ff883"
  "japanese-wrap":
    characterWidth: {}
  "linter-flow": {}
  "linter-ui-default":
    panelHeight: 64
    showPanel: true
    showProviderName: true
  nuclide:
    "nuclide-buck":
      compileErrorDiagnostics: false
      suggestTaskRunner: false
    "nuclide-clang":
      enableDefaultFlags: false
    "nuclide-ctags":
      disableWithHack: false
    "nuclide-diagnostics-ui":
      showDiagnosticTraces: true
    "nuclide-file-tree":
      allowKeyboardPrefixNavigation: false
      hideIgnoredNames: false
      showOpenFiles: false
      showUncommittedChanges: false
    "nuclide-flow":
      canUseFlowBin: true
      enableReferencesHighlight: true
    "nuclide-hack": {}
    "nuclide-home":
      showChangelogs: false
      showHome: false
    "nuclide-notifications":
      onlyNativeFriendly: false
    "nuclide-objc":
      enableAutomaticSquareBracketInsertion: false
    "nuclide-ocaml":
      enableDiagnostics: false
    "nuclide-python":
      autocompleteArguments: false
      enableLinting: false
    "nuclide-quick-open":
      useSelection: false
    "nuclide-related-files":
      openInNextPane: false
    "nuclide-remote-atom":
      shouldNotifyWhenCommandLineIsWaitingOnFile: false
    "nuclide-remote-projects":
      confirmServerActionOnLastProject: false
      shutdownServerAfterDisconnection: false
    "nuclide-type-coverage": {}
    "nuclide-vcs-log":
      showDifferentialRevision: false
  "relative-numbers": {}
  "tree-view": {}
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
